NET "CLK" LOC="C9";
NET "ENA" LOC="M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "RS" LOC="L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "RW" LOC="L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

NET "DATA_LCD[0]" LOC="R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "DATA_LCD[1]" LOC="R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "DATA_LCD[2]" LOC="P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "DATA_LCD[3]" LOC="M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

NET "RESET" LOC = "K17";
NET "RESET" PULLDOWN;

NET "ENVIO" LOC = D18;
NET "ENVIO" PULLDOWN | CLOCK_DEDICATED_ROUTE = FALSE;

NET "str_select[2]" LOC = L14;
NET "str_select[1]" LOC = H18;
NET "str_select[0]" LOC = N17;
