//! **************************************************************************
// Written by: Map P.58f on Mon Apr 10 12:59:01 2017
//! **************************************************************************

SCHEMATIC START;
COMP "W" LOCATE = SITE "K17" LEVEL 1;
COMP "RS" LOCATE = SITE "L18" LEVEL 1;
COMP "RW" LOCATE = SITE "L17" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "ENA" LOCATE = SITE "M18" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "B4" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "A4" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "B5" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "C5" LEVEL 1;
COMP "DATA_LCD<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "DATA_LCD<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "DATA_LCD<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "DATA_LCD<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "reset" LOCATE = SITE "H13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

