//! **************************************************************************
// Written by: Map P.58f on Mon Apr 10 11:52:33 2017
//! **************************************************************************

SCHEMATIC START;
COMP "RS" LOCATE = SITE "L18" LEVEL 1;
COMP "RW" LOCATE = SITE "L17" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "ENA" LOCATE = SITE "M18" LEVEL 1;
COMP "DATA_LCD<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "DATA_LCD<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "DATA_LCD<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "DATA_LCD<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "SEND_D" LOCATE = SITE "K17" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

