//! **************************************************************************
// Written by: Map P.58f on Mon Apr 03 12:22:32 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "hex_out<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "hex_out<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "hex_out<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "hex_out<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "hex_out<4>" LOCATE = SITE "A6" LEVEL 1;
COMP "hex_out<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "hex_out<6>" LOCATE = SITE "E7" LEVEL 1;
COMP "Reset" LOCATE = SITE "K17" LEVEL 1;
COMP "hex2<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "hex2<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "hex2<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "hex2<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "c" LOCATE = SITE "F7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

